#lucky {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 50px;
    border: solid;
}

#mainCard {
    margin-top: 50px;
}

.columns {
    margin-left: 23px;
    margin-top: .75rem;
}

#foodResults {
    margin-left: -250px;
}

.media-left {
    border-style: solid;
    border-radius: 8px;
    
}